@font-face {
    font-family: 'RIDIBatang';
    src: url('/fonts/RIDIBatang.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Chiron GoRound TC", sans-serif;
}

body[data-bs-theme="dark"] {
    --bs-body-color: #e4e6eb;
    --bs-body-bg: #000000;
}

input:checked+.btn-outline-body {
    background-color: var(--bs-body-color) !important;
    border: 1px solid var(--bs-body-color) !important;
    color: var(--bs-body-bg) !important;
}

input+.btn-outline-body:hover {
    background-color: var(--bs-body-color) !important;
    border: 1px solid var(--bs-body-color) !important;
    color: var(--bs-body-bg) !important;
}

.btn-outline-body {
    color: var(--bs-body-color);
    border: 1px solid var(--bs-body-color);
    background-color: transparent;
}

.btn-outline-body:hover {
    background-color: var(--bs-body-color);
    color: var(--bs-body-bg);
}

.text-bg-body {
    color: var(--bs-body-bg);
    background-color: var(--bs-body-color);
}

#episode-title,
#episode-content {
    font-family: 'RIDIBatang', sans-serif;
}

#episode-content {
    text-indent: 1rem;
}

#episode-content p:has(img) {
    text-indent: 0;
}

.og-wrap {
    text-indent: 0;
}

.og-img img {
    width: 100% !important;
    height: 100%;
    margin-left: 0 !important;
    object-fit: cover;
    display: block;
}

@media (max-width: 768px) {
    #episode-content img {
        width: calc(100% + 2rem);
        margin-left: -1rem;
        cursor: pointer;
        display: block;
    }
    #episode-content iframe {
        width: calc(100% + 2rem) !important;
        margin-left: -1rem;
        cursor: pointer;
        display: block;
    }
    #manga-title {
        font-size: 0.8rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


/* PC: 이미지 가운데 정렬 */

@media (min-width: 769px) {
    #episode-content img {
        width: auto;
        max-width: 100%;
        margin: auto auto;
        display: block;
        cursor: pointer;
    }
    #manga-title {
        font-size: 1rem;
    }
}

#episode-content iframe,
#episode-content embed {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input,
textarea,
select,
button {
    touch-action: manipulation;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

body[data-bs-theme="light"] .icon {
    filter: invert(1);
}

#input-font-size,
#input-line-height,
#input-paragraph-margin {
    width: 2rem;
    font-size: 0.8rem;
    padding-left: 0;
    padding-right: 0;
    border: 1px solid var(--bs-secondary-color);
}

#manga-container img {
    min-width: 50%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

#manga-view img[src=""] {
    opacity: 0;
}

body[data-bs-theme="light"] #icon-manga-start {
    filter: invert(1);
}